@using iLcwdMapper.Models
@model Processor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit info for @Model.ProcessorName</h1>
            <form asp-action="EditIt" asp-route-DishID="@Model.ProcessorId" method="post" asp-controller="iLcwdMapper">
            <label asp-for="ProcessorName"> Name:</label>
            <input asp-for="ProcessorName" value="@Model.ProcessorName"><br>

            <label asp-for="ProcessorAddress"></label>
            <input asp-for="ProcessorAddress"><br>

            <label asp-for="ProcessorCity"></label>
            <input asp-for="ProcessorCity"><br>

            <label asp-for="ProcessorCounty"></label>
            <input asp-for="ProcessorCounty"><br>

            <label asp-for="ProcessorHours"></label>
            <input asp-for="ProcessorHours"><br>

            <label asp-for="LAT"></label>
            <input asp-for="LAT"><br>

            <label asp-for="LNG"></label>
            <input asp-for="LNG"><br>

            <input type="submit" value="EDIT PROCESSOR" class="btn btn-outline-dark">
        </form><html>
    <div asp-validation-summary="All"></div>
    <a href="/processors">HOME</a>

</body>
</html>