

@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Admin Account</h1>
    <a asp-action="Dashboard" asp-controller="iLcwdMapper" class="btn btn-warning" >HOME</a>

<form asp-action="Register" asp-controller="Home" method="post">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName"><br>
    <label asp-for="LastName"></label>
    <input asp-for="LastName"><br>
    <label asp-for="Email"></label>
    <input asp-for="Email"><br>
    <label asp-for="Password"></label>
    <input asp-for="Password"><br>
    <label asp-for="ComparePassword"></label>
    <input asp-for="ComparePassword"><br>
    <input type="Submit" value="Register!" class="btn btn-danger">
</form>
<div asp-validation-summary="All" class="text-danger"></div>
</body>
</html>